* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// Colors

$black: #000;
$white: #FFF;
$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayNew: #F2F2F2;
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);

// Defaults

ul {
    list-style: none;
}

a {
    text-decoration: none;

    &.btn {
        padding: 10px 35px;
        color: $white!important;
        background-color: $cyan;
        display: inline-block;
        border-radius: 30px;
    }
}

.container {
    width: calc(100% - 30px);
    max-width: 1110px;
    margin: 25px auto;
}
